/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
 body{
    background: #080808;
    color:#fff ;


}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/WhatsApp_Image_2022-12-28_at_1.05.35_AM-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10% ;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
} 

.about-col-2 h1 span{
    color: #46d9b0;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    font-size: 18px;
    margin-right: 200px;
   
}
.tab-contents{
    display:flex;
 
}
.hjo{
    display: flex;
}
.hjh{
    display: flex;
}
.hhj{
    display: flex;
}


#projects{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    border-radius: 10px;
   width: 100%;
    display: block;
    transition: trasform 0.5s;
}
   
.layer{
    width: 100%;
    height: 0;
    background-color: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

    
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;

}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: backgroud 0.5s;

}
.btn:hover{
    background: #ff004f;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab ;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px) ;
}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

.btn2{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    
    border-radius: 6px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: backgroud 0.5s;
    background: #46d9b0;

    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;

}
.btn2:hover{
    background: #ff004f;
}
nav .fas{
    display: none;
}
.bta{
    
    margin-top: 30px;
    margin-right: 15px;
    display: block;
    
    width: fit-content;
    border: 1px;
    background: #24ce5a;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: backgroud 0.5s;

}
.bta:hover{
    background: #ff004f;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(https://w0.peakpx.com/wallpaper/469/148/HD-wallpaper-fullstack-development-nodejs-programmer-technology.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;

    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .bta{
        margin: 60px;
        margin-top: 40px;
    }
}
#msg{
    color: #61b752;
    margin: 50px 600px;
    display: block;
}